*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container{
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
}

header{
    background-color: dodgerblue;
    text-align: center;
    padding: 10px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url(./assets/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    float: right;
    background-color: #FFFFFFBB;
    padding: 20px;
}

.subtittle{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center justify;
}

.marginBottom{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color:dodgerblue;
    font-weight: bold;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}